<div class="my-app-name">
  <h1>Budget App</h1>
</div>

<div class="login-and-sign-up">
  <%= link_to 'LOG IN', new_user_session_path, class: "login-link" %>
  <%= link_to 'SIGN UP', new_user_registration_path, class: "sign-up-link" %>
</div>
